<h1>{{title}}</h1>

<div *ngIf="faqList == null">
  <h2>Wait Faq loading...</h2>
</div>

<div *ngIf="faqList">
  <h2>FAQ LIST </h2>
  <ol class="faqs">
    <li *ngFor="let faq of faqList" (click)="onSelect(faq)"  [class.selected]="faq === selectedFaq"  >
      <span class="badge">{{faq.question}}</span>
    </li>
  </ol>
  <div *ngIf="selectedFaq == null">
    Full Faq List:
    <div *ngFor="let faq of faqList">
      <h3>Q:{{faq.question}}</h3>
      <h4>A:{{faq.answer}}</h4>
    </div>
  </div>
  <div *ngIf="selectedFaq">
    <h2>{{selectedFaq.question}}</h2>
    <div>Answer (<label>id: </label>{{selectedFaq.id}}):<br /> 
      {{selectedFaq.answer}}
    </div>
    <br />
    <hr /> <br />
    <div>
      <label>Editor </label>
      <input [(ngModel)]="selectedFaq.answer" placeholder="answer">
    </div>
  </div>
</div>
